$height_antenna: 35vh;

$spacing-xxx-small: 0.125rem;
$spacing-xx-small: 0.25rem;
$spacing-x-small: 0.5rem;
$spacing-small: 0.75rem;
$spacing-medium: 1rem;
$spacing-large: 1.5rem;
$spacing-x-large: 2rem;
$spacing-xx-large: 3rem;

$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$font-size-title: 1.75rem;
$font-size-title-small: 1.125rem;
$font-size-sub-title: 0.875rem;
$font-size-sub-title-small: 13px;
$font-size-text: 0.875rem;
$font-size-text-small: 0.8125rem;
$font-size-tags: 0.75rem;
$font-size-button: 0.875rem;
$font-size-button-small: 0.75rem;
$font-size-numeric-important: 0.875rem;
$font-size-numeric: 0.875rem;

$onboard-rhs-color: #084b83;
$black-color: black;
$white-color: #fff;

$border-radius-small: 0.125rem;
$border-radius-medium: 0.25rem;
$border-radius-circle: 50%;
$border-radius-large: 0.5rem;
$border-radius-chip: 0.3rem;
