@import "media-query";

.new-report-wrapper {
  padding-top: 7rem !important;
  @include mq(small) {
    padding-top: 3rem !important;
  }
}
.state-report {
  @include flex-mixin($flexDirection: column);
  color: $white-color;
  .state-header {
    @include flex-mixin(flex-start, center);
    padding-bottom: 0;
    margin: 0 $spacing-large;
    border-bottom: 1px solid $white-color;
    img {
      padding: $spacing-medium;
    }
    .label {
      font-size: $font-size-sub-title;
      color: #42bfdd;
    }
    .title {
      @include flex-mixin;
      font-size: $font-size-title;
    }
  }
  .state-list-block {
    @include flex-mixin($flexDirection: column);
    padding: $spacing-medium;
    padding-bottom: 0;
    .search-bar {
      @include mq(small) {
        flex-direction: column;
      }
      padding: $spacing-x-large 0;
      padding-bottom: $spacing-large;
      @include flex-mixin;
      .title-locater {
        font-size: $font-size-title-small;
        font-weight: $font-weight-bold;
        @include mq(small) {
          justify-content: flex-start;
          padding-bottom: $spacing-medium;
          font-size: $font-size-text;
        }
        @include flex-mixin(center, center, $flexSize: 1);
        img {
          height: 24px;
          padding: 0 $spacing-small;
        }
        a {
          color: #bbe6e4 !important;
        }
      }
      div {
        flex: 1 auto;
      }
      .search-wrapper {
        @include flex-mixin(flex-end, $flexSize: 2);
        input {
          width: 40%;
          @include mq(small) {
            width: 80%;
          }
          height: 32px;
          font-size: $font-size-text-small;
          color: $white-color;
          &::placeholder {
            color: $white-color;
          }
          padding: $spacing-xxx-small $spacing-small;
          background: rgba(190, 190, 190, 0.5);
        }
      }
    }
    .list-with-map {
      @include flex-mixin($flexSize: 1, $flexDirection: row);
      .new-report-image {
        padding: $spacing-medium $spacing-xx-large;
        @include mq(small) {
          display: none !important;
        }
      }
      .state-image {
        @include mq(small) {
          display: none !important;
        }
        @include flex-mixin($flexSize: 1);
        img {
          width: 30vw;
          height: 25vh;
          padding: $spacing-xx-large 0;
        }
      }
      .state-name-weapper {
        height: 60vh;
        overflow: auto;
        @include flex-mixin(flex-start, $flexSize: 2);
        .state-name {
          @include flex-mixin(flex-start, $flexSize: 2, $flexWrap: wrap);
          .location-list {
            font-size: $font-size-text-small;
            cursor: pointer;
            @include flex-mixin(flex-start, center);
            @include mq(small) {
              min-width: 8.7rem;
              max-width: 8.7rem;
            }
            min-width: 15%;
            max-width: 15%;
            padding: $spacing-small $spacing-medium;
            .sub-station-location {
              @include flex-mixin($flexDirection: column);
              .sub-location {
                color: #bbe6e4;
                font-size: 10px;
              }
            }
            &:hover {
              color: #bbe6e4;
            }
            img {
              width: 20px;
              height: 26px;
              padding-right: $spacing-x-small;
            }
          }
        }
      }
    }

    .new-report-generator {
      @include flex-mixin($flexSize: 2, $flexDirection: column);
      div {
        display: flex;
        align-items: center;
        padding: $spacing-medium;
        img {
          padding: 0 $spacing-x-small;
        }
        a {
          color: #bbe6e4 !important;
        }
      }
      .title {
        font-size: $font-size-title;
        font-weight: $font-weight-bold;
      }
      li {
        font-size: $font-size-sub-title;
        line-height: $spacing-x-large;
      }
    }
  }
}
