.report-main {
  padding: $spacing-x-large;
  @include flex-mixin($flexDirection: column);
  .logout-link {
    padding-top: 0;
    padding-right: 0;
  }
  .block {
    @include flex-mixin(space-between, end);
    .home-sub-header {
      padding-top: 0px;
    }
    color: $black-color;
    padding: $spacing-medium 0;
    padding-bottom: $spacing-x-large;
    border-bottom: $border;
  }
  section {
    padding: $spacing-x-large 0;
    .title {
      font-size: $font-size-title;
      font-weight: bold;
    }
    .report {
      @include flex-mixin($flexDirection: column, $flexSize: 2);
      padding-right: $spacing-x-large;
      @include mq(small) {
        padding-right: 0;
      }
      .report-card {
        @include flex-mixin;
        padding: $spacing-medium 0;
        border-bottom: $border;
        .location {
          @include flex-mixin($flexDirection: row, $flexSize: 1);
          img {
            width: 4em;
            height: 4em;
          }
        }
        .name-section {
          padding: 0 $spacing-medium;
          @include flex-mixin(center, baseline, $flexDirection: column);
        }
        .report-option {
          padding-left: 0;
          padding-bottom: $spacing-small;
          @include mq(small) {
            padding-right: $spacing-x-small;
          }
          align-items: flex-end;
        }
      }
    }
    .aside {
      @include flex-mixin($flexDirection: column);
      height: 40vh;
      padding: 0 $spacing-xx-large;
      border-left: $border;
      @include mq(small) {
        border-left: none !important;
        padding: $spacing-x-large 0;
        height: auto;
      }
      .access-text {
        padding-top: $spacing-medium;
      }
      .download-invoice {
        padding: $spacing-medium 0;
      }
    }
  }
}

.report-detail-info {
  @include flex-mixin($flexDirection: row);
  @include mq(small) {
    @include flex-mixin($flexDirection: column);
  }
}

.report-home-header {
  padding-bottom: $spacing-large;
}

.logout-image {
  height: 2vh !important;
}
