@import "variables";
@import "flex-mixin";
@import "media-query";
@import "common";
@import "input";
@import "onboard";
@import "login";
@import "sign-up";
@import "home";
@import "payment";
@import "report";

@import "country-report";

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
  font-family: $font-sans-serif;
}
.wrapper {
  @include flex-mixin;
  min-height: 100vh;
}
.flex {
  @include flex-mixin;
}
.flex-auto {
  @include flex-mixin($flexSize: 1 1 auto);
  min-width: 0;
  min-height: 0;
}

a {
  text-decoration: none;
}

.rest-button {
  margin-top: $spacing-xx-large;
}

.reset-success-detail {
  font-size: $font-size-text;
  a {
    font-size: $font-size-text;
  }
  @include mq(small) {
    font-size: $font-size-responsive-text-small;
    a {
      font-size: $font-size-responsive-text-small;
    }
  }
  padding-top: $spacing-small;
}

.go-back {
  padding: 0;
  padding-top: $spacing-large;
}
