@import "variables";

.text-input {
  display: flex;
  border: none;
  background: #f0f6f6;
  padding: $spacing-small;
  text-transform: capitalize;
}

.button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: $white-color;
  font-size: $font-size-button;
  font-weight: $font-weight-bold;
  padding: $spacing-small;
  border-radius: $border-radius-small;
  background: #42bfdd;
  border: none;
  align-items: center;
  font-size: 26px;
}
