@import "variables";

.text-input {
  display: flex;
  border: none;
  border-radius: $border-radius-chip;
  background: #f0f6f6;
  font-size: $font-size-medium;
  padding: $spacing-small;
  font-family: $font-sans-serif;
  text-transform: capitalize;
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: $white-color;
  font-weight: $font-weight-bold;
  padding: $spacing-small $spacing-large;
  font-family: $font-sans-serif;
  border-radius: $border-radius-chip;
  background: #42bfdd;
  border: none;
  align-items: center;
  font-size: $font-size-medium;
  img {
    margin-left: $spacing-xx-small;
    width: 15px;
    height: 15px;
  }
}
