@import "variables";

.text-input {
  display: flex;
  border: none;
  border-radius: $border-radius-chip;
  background: #f0f6f6;
  padding: $spacing-small;
  text-transform: capitalize;
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: $white-color;
  font-size: $font-size-button;
  font-weight: $font-weight-bold;
  padding: $spacing-small;
  border-radius: $border-radius-chip;
  background: #42bfdd;
  border: none;
  align-items: center;
  font-size: 1.3rem;
  img {
    width: 1.5vw;
  }
}

.check-box {
  border: none;
  background: $white-color;
  border: 1px solid red;
}