@import "variables";
.remember-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: $spacing-medium;
  padding-bottom: $spacing-large;
  span {
    padding-left: $spacing-xx-small;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  color: $black-x-color;
  padding-top: $spacing-medium;
  .form-sub-head {
    padding: $spacing-small 0;
  }
  .form-input {
    margin-bottom: $spacing-xx-small;
  }
}

.user-login-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: $spacing-large;
  a {
    color: #4577a2;
    display: flex;
    align-items: flex-end;
    padding-left: $spacing-xx-small;
    font-size: $font-size-text-small;
    border-bottom: 1px solid #4577a2;
  }
  .forgot-password {
    flex: 1;
    display: flex;
  }
  .new-user {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}
