@import "variables";
.remember-me {
  @include flex-mixin(null, center,$flexDirection: row);
  font-size: $font-size-medium;
  padding-top: $spacing-medium;
  padding-bottom: $spacing-large;
  @include mq(small) {
    font-size: $font-size-responsive-text-small;
  }
  span {
    padding-left: $spacing-xx-small;
  }
}

.login-form {
  @include flex-mixin($flexDirection: column, $flexGrow: 1);
  color: $black-x-color;
  padding-top: $spacing-medium;
  .form-sub-head {
    font-size: $font-size-medium;
    padding: $spacing-small 0;
  }
  .form-input {
    margin-bottom: $spacing-xx-small;
  }
}

