$small-screen: 599px;
$medium-screen: 600px;
$landscape: 900px;
$large-screen: 1200px;
$xlarge-screen: 1800px;

@mixin mq($mq) {
  @if $mq == small {
    @media (max-width: $small-screen) {
      @content;
    }
  }
  @if $mq == medium {
    @media (min-width: $medium-screen) {
      @content;
    }
  }
  @if $mq == landscape {
    @media (min-width: $landscape) {
      @content;
    }
  }
  @if $mq == large {
    @media (min-width: $large-screen) {
      @content;
    }
  }
  @if $mq == xlarge {
    @media (min-width: $xlarge-screen) {
      @content;
    }
  }
  @if $mq == retina {
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      @content;
    }
  }
}