.onboard {
  display: flex;
  .onboard-lhs {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: $spacing-xx-large;
    background: $onboard-rhs-color;
    header {
      display: flex;
      font-family: $font-regular;
      letter-spacing: $spacing-xxx-small;
      padding-bottom: $spacing-xx-large;
      font-size: $font-size-title;
      font-weight: $font-weight-bold;
      color: $white-color;
    }
    section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      img {
        padding: $spacing-small;
        height: $height_antenna;
        margin: $spacing-xx-large;
      }
      p {
        display: flex;
        padding: 0 7rem;
        text-align: center;
        font-weight: $font-weight-regular;
        color: $white-color;
      }
    }
  }
  .onboard-rhs {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: $spacing-xx-large;
    justify-content: flex-start;
    color: $black-x-color;
    font-weight: $font-weight-regular;
    .form-tip {
      padding-top: $spacing-medium;
    }
    header {
      display: flex;
      letter-spacing: $spacing-xxx-small;
      font-size: $font-size-title;
      font-weight: $font-weight-bold;
      color: $black-color;
    }
  }
}
