.onboard {
  @include flex-mixin;
  @include mq(small) {
    flex-direction: column;
  }
  .onboard-lhs {
    flex: 2;
    @include mq(landscape) {
      flex: 1.3;
      padding: 2.5rem;
      padding-bottom: 0;
    }
    @include mq(small) {
     flex: 0;
     padding: $spacing-large;
     padding-bottom: 0;
     padding-top: 0;
    }
    @include flex-mixin(flex-start, null, column);
    padding: $spacing-xx-large;
    padding-bottom: 0;
    background: $primary-color;
    section {
      @include mq(small) {
        display: none;
      }
      @include flex-mixin(center, null, column);
      img {
        padding: $spacing-small;
        height: $height_antenna;
        margin: $spacing-xx-large;
        margin-top: $spacing-large;
      }
      p {
        padding: 0 7rem;
        text-align: center;
        color: $white-color;
        @include mq(medium) {
          padding: $spacing-large;
        }
      }
    }
  }
  .onboard-rhs {
    @include flex-mixin(flex-start, null, column, 1, 1);
    padding: $spacing-xx-large;
    padding-bottom: 0;
    color: $black-x-color;
    font-weight: $font-weight-regular;
    @include mq(small) {
      padding: $spacing-large;
    }
    @include mq(landscape) {
      padding: 2.5rem;
      padding-bottom: 0;
    }
    .form-tip {
      font-size: $font-size-medium;
      padding-top: $spacing-medium;
    }
    header {
      background: transparent;
      color: $black-color;
    }
  }
}

.user-login-option {
  @include flex-mixin(space-between, center, row);
  padding-top: $spacing-large;
  padding-bottom: $spacing-small;
}
