.payment-info {
    padding-top: $spacing-small;
    b{
    color: black;
    }
}

.encryption-text {
    @include flex-mixin(center, center);
    font-size: $font-size-tags;
    padding: $spacing-small;
}
.paymetnt-tip {
    padding: $spacing-x-small 0 !important;
    font-size: $font-size-tags;
    opacity: 0.9;
}

.payment-button {
    margin-top: $spacing-medium;
}
.date-and-cvv {
    @include flex-mixin(space-between, $flexDirection: row);
    padding-bottom: $spacing-small;
    .date {
        padding-right: $spacing-small;
    }
    .date, .cvv {
        display: flex;
        width: 48%;
      flex-direction: column;
    }
}