@import "media-query";
.report-wrapper {
  flex-direction: column;
  .sub-header {
    @include flex-mixin;
      padding: $spacing-xxx-small $spacing-small;
      background: #f0f6f6;
    flex-direction: row;
    .to-home {
      @include flex-mixin($flexSize: 1);
    }
    .report-options {
      @include flex-mixin(flex-end, null, row, $flexSize: 1);
      .image {
        width: auto;
        height: 2vh;
      }
    }
  }
  section {
    @include mq(small) {
      padding: $spacing-x-large;
    }
    @include flex-mixin($flexDirection: column);
    padding: $spacing-x-large;
  }
  .selected-location {
    @include flex-mixin($flexDirection: column);
    flex-direction: column;
    color: $black-color;
    padding-bottom: $spacing-x-small;
    font-size: $font-size-title;
    .location {
      padding-top: $spacing-x-small;
      font-weight: $font-weight-bold;
    }
    .requested-by {
      padding-top: $spacing-x-small;
      font-size: $font-size-sub-title;
      b {
        font-weight: $font-weight-bold;
      }
    }
  }
  .description {
    @include flex-mixin;
    color: $black-color;
    padding: $spacing-medium 0;
    font-weight: $font-weight-regular;
    font-size: $font-size-text;
  }

  .heading {
    @include flex-mixin;
    color: $primary-color;
    padding-bottom: $spacing-small;
    font-size: $font-size-title-small;
  }
  .overview-list {
    margin: 0;
    list-style: none;
    padding-bottom: $spacing-x-large;
    li::before {
      content: "\2022";
      color: $primary-color;
      font-size: $font-size-title;
      font-weight: bold;
      display: inline-block;
      width: 1em;
    }
    .overview-item {
      padding-bottom: $spacing-medium;
    }
  }
  .report-chart {
    @include flex-mixin($flexWrap: wrap);
    padding-bottom: $spacing-xx-large;
    @include mq(small) {
      justify-content: center;
      flex-direction: column;
    }
    .chart-wrapper {
      flex: 0 50%;
      .chart-header {
        padding: $spacing-large;
        @include mq(small) {
          padding: $spacing-large 0;
        }
        display: flex;
        color: $black-color;
        font-size: $font-size-text;
      }
      .pie-chart {
        @include flex-mixin(center, center);
        .chart-label-list {
          @include flex-mixin(center, center, column, 1);
        }
        canvas {
          float: left;
          width: 30% !important;
          height: 30% !important;
          @include mq(small) {
            width: 50% !important;
            height: 50% !important;
          }
        }
      }
    }
  }

.chartjsLegend {
  padding-left: $spacing-large;
  color: $black-color;
  @include flex-mixin(center, center);
  li {
    span{
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 5px;
      border-radius: 0px;
    }
  }
}

  .queries {
      color: $primary-color;
      padding-top: $spacing-xx-large;
      font-size: $font-size-sub-title-small;
  }
}
