.terms {
  @include flex-mixin(null, center, row);
  @include mq(small) {
  font-size: $font-size-text;
  }
  @include mq(medium) {
    font-size: $font-size-text-small;
  }
  font-size: $font-size-medium;
  padding-top: $spacing-small;
  padding-bottom: $spacing-large;
  span {
    @include flex-mixin($flexWrap: wrap);
    padding-left: $spacing-xx-small;
    a {
      padding: 0 $spacing-xx-small;
    }
  }
}

.sign-up-form {
  @include flex-mixin($flexDirection: column, $flexGrow: 1);
  color: $black-x-color;
  padding-top: $spacing-small;
  .user-name {
    @include flex-mixin(space-between, null, row);
    @include mq(small) {
    @include flex-mixin($flexDirection:column);
    }
    .first-name {
      padding-right: $spacing-small;
    }
    .first-name,
    .last-name {
      @include flex-mixin($flexDirection: column, $flexSize: 1);
    }
  }
  .form-sub-head {
    font-size: $font-size-medium;
    padding: $spacing-x-small 0;
  }
  .form-input {
    margin-bottom: $spacing-xxx-small;
  }
}
